.ImageSlider {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
}

.img {
  position: relative;
  width: 100%;
  height: 600px;
  display: block;
  object-fit: cover;
  border-radius: 20px;
}

.img-container {
  position: relative;
  width: 100vw;
  cursor: pointer;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.modal {
  color: black;
}

.close-icon {
  position: absolute;
  font-size: 1.8rem;
  top: -2rem;
  right: 0;
}

.close-icon:hover {
  cursor: pointer;
}

.btn {
  color: black;
  width: 2.8rem;
  aspect-ratio: 1;
  background: none;
  border: 1px solid black;
  font-size: 1.2rem;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #e7e7e7;
}

.btn-prev {
  left: -4rem;
  top: 50%;
}

.btn-next {
  right: -4rem;
}

.img--small {
  width: 100%;
  filter: blur(0.1rem);
  transition: all 0.3s;
  cursor: pointer;
}

.img--small:hover {
  cursor: pointer;
  filter: blur(0);
}

.active {
  filter: blur(0);
}

.hover-overlay {
  width: 100%;
  height: 40px;
  background-color: #b19062;
  position: relative;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: translateY(-40px);

  span {
    font-family: "ClashDisplay-Variable";
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    align-self: center;
    justify-self: flex-end;
    text-decoration-color: #b19062;
    width: 100%;
    padding-left: 28px;
    color: #e7e7e7;
  }
}

.img-container:hover .hover-overlay {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .ImageSlider {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 95vw;
    justify-self: center;
    transform: translatex(-5px);
  }

  .img-container {
    max-width: 100%;
    object-fit: contain;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .img {
    height: 347px;
    width: 97vw;
  }

  .hover-overlay {
    opacity: 1;
    transform: translateY(-30px);
    width: 95vw;
    height: fit-content;

    span {
      display: flex;
      padding: 8px;
      width: fit-content;
      align-content: center;
      text-decoration: none;
    }
  }

  .modal {
    text-align: center;
    width: 417px;
  }

  .close-icon {
    top: 0.5rem;
  }

  .btn {
    font-size: 1rem;
  }

  .img-small-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    object-fit: cover;
  }
}
