.main {
    display: flex;
    padding: 64px 34px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    width: 1340px;
    margin: 0 auto;

    .cta {
        display: flex;
        height: 386px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;

        p {
            color: #111;
            font-size: 60px;
            font-weight: 400;
            line-height: 110%;
            font-family: 'ClashDisplay-Variable';
        }

        span {
            color: #B19062;
            font-size: 60px;
            font-weight: 400;
            line-height: 110%;    
            font-family: 'ClashDisplay-Variable';
        }
    }

    .addresses {
        display: flex;
        height: 393px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 30px;
        width: 100%;

        hr {
            color: black;
            width: 100%;
        }

        .box {
            display: flex;
            flex-direction: row;
            gap: 65px;
            
            .location {
                width: 236px;
                height: 115px;
                flex-shrink: 0;
    
                p {
                    color: #111;
                    font-family: 'ClashDisplay-Variable';
                    font-size: 28px;
                    font-weight: 400;
                    line-height: 130%;
                }
    
                span {
                    width: 202px;
                    color: #111;
                    font-family: 'ClashDisplay-Variable';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
    
            .contact {
                display: flex;
                height: 105px;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 10px;
    
                p {
                    color:#111;
                    font-family: 'ClashDisplay-Variable';
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 150%;
                }
    
                span {
                    width: 160px;
                    height: 26px;
                    flex-shrink: 0;
                    color:  #000;
                    font-family: 'ClashDisplay-Variable';
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }

    }
}