html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}

.box {
  width: 1340px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 0 auto;
  height: fit-content;
  padding: 64px 0px;

  .load {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    padding-top: 24px;
    width: fit-content;
    align-self: center;

    .btn {
      display: inline-flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      background: var(--neutral-900, #0d0f11);
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
    }

    .btn:hover {
      transition: all 0.3s ease-in-out;
      background: var(--neutral-900, #343638);
      cursor: pointer;
    }
  }
  .contact {
    display: flex;
    padding-top: 24px;
    width: 1418px;
    justify-content: space-between;
    align-items: flex-start;
    height: 500px;

    p {
      width: 462px;
      color: #000;
      font-family: Clash Display;
      font-size: 16px;
      font-style: normal;
      font-weight: 200;
      line-height: 26px;
    }

    form {
      display: flex;
      gap: 20px;
      flex-direction: column;

      input.button {
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: var(--neutral-900, #0d0f11);
        color: white;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        width: fit-content;
        height: fit-content;
      }

      .button:hover {
        transition: all 0.3s ease-in-out;
        background: var(--neutral-900, #343638);
        cursor: pointer;
      }

      label {
        color: #202020;
        font-family: Clash Display;
        font-weight: 400;
        line-height: 26px;
      }

      input {
        width: 850px;
        height: 24.25px;
        border: none;
        border-bottom: solid 1px #636363;
      }

      input[type="text"]:focus {
        outline: none;
      }

      input[type="number"]:focus {
        outline: none;
      }

      input[type="email"]:focus {
        outline: none;
      }

      input::placeholder {
        color: #000;
        font-family: Clash Display;
        font-size: 14px;
        font-weight: 300;
        line-height: 17px;
      }
    }
  }
}

.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Clash Display;
}

.notFoundContent {
  text-align: center;

  h1 {
    font-size: 2rem;
    color: #333;
  }

  p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #555;
  }
}

@media screen and (max-width: 768px) {
  .box {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin: 0 auto;
    height: fit-content;
    padding: 24px 0px;

    .load {
      display: flex;
      flex-wrap: wrap;
      gap: 22px;
      padding-top: 24px;
      width: fit-content;
      align-self: center;
      align-self: flex-start;

      .btn {
        display: inline-flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background: var(--neutral-900, #0d0f11);
        color: white;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
      }

      .btn:hover {
        transition: all 0.3s ease-in-out;
        background: var(--neutral-900, #343638);
        cursor: pointer;
      }
    }
    .contact {
      display: flex;
      padding-top: 24px;
      width: 90vw;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      height: fit-content;

      p {
        width: 95vw;
        color: #000;
        font-family: Clash Display;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        padding-bottom: 24px;
      }

      form {
        display: flex;
        gap: 20px;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 40px;

        label {
          color: #202020;
          font-family: Clash Display;
          font-weight: 400;
          line-height: 26px;
        }

        input {
          width: 95vw;
          height: 24.25px;
          border: none;
          border-bottom: solid 1px #636363;
        }

        input[type="text"]:focus {
          outline: none;
        }

        input[type="number"]:focus {
          outline: none;
        }

        input[type="email"]:focus {
          outline: none;
        }

        input::placeholder {
          color: #000;
          font-family: Clash Display;
          font-size: 14px;
          font-weight: 200;
          line-height: 17px;
        }
      }
    }
  }
}
