.box {
  width: 1340px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 0 auto;
  height: fit-content;
  padding: 64px 0px;

  .load {
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    padding-top: 24px;
    width: fit-content;
    align-self: center;

    .btn {
      display: inline-flex;
      padding: 8px 16px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 20px;
      background: var(--neutral-900, #0d0f11);
      color: white;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
    }

    .btn:hover {
      transition: all 0.3s ease-in-out;
      background: var(--neutral-900, #343638);
      cursor: pointer;
    }
  }
  .contact {
    display: flex;
    padding-top: 24px;
    width: 1418px;
    justify-content: space-between;
    align-items: flex-start;

    p {
      width: 462px;
      color: #000;
      font-family: Clash Display;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
    }

    form {
      display: flex;
      gap: 20px;
      flex-direction: column;

      label {
        color: #202020;
        font-family: Clash Display;
        font-weight: 400;
        line-height: 26px;
      }

      input {
        width: 850px;
        height: 24.25px;
        border: none;
        border-bottom: solid 1px #636363;
      }

      input[type="text"]:focus {
        outline: none;
      }

      input[type="number"]:focus {
        outline: none;
      }

      input[type="email"]:focus {
        outline: none;
      }

      input::placeholder {
        color: #000;
        font-family: Clash Display;
        font-size: 14px;
        font-weight: 200;
        line-height: 17px;
      }
    }
  }
}
