.div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 340px;
  flex-direction: column;

  img {
    width: 380px;
    height: fit-content;
    border-radius: 20px;
    object-fit: contain;
  }

  .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    p {
      color: #000;
      font-size: 18px;
    }

    span {
      color: #000;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 768px) {
  .div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    img {
      width: 360px;
      height: 285px;
      border-radius: 20px;
      object-fit: cover;
    }

    .info {
      display: flex;
      width: 90vw;
      justify-content: space-between;
      align-items: center;

      p {
        color: #000;
        font-size: 18px;
      }

      span {
        color: #000;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}
