.div {
    display: flex;
    padding: 64px 32px;
    justify-content: center;
    gap: 24px;
    align-self: stretch;
    font-family: 'ClashDisplay-Variable';
    width: 1340px;
    margin: 0 auto;
    flex-direction: column;

    .head {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 1340px;

        hr {
            width: 1340px;
            height: 0.729px;
            background: #111;
        }
    }


    .content {
        display: flex;
        width: 1340px;
        height: auto;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .btn {
        width: 120px ;
    }
}
