.div {
  display: flex;
  gap: 18px;
  flex-direction: column;
  width: 415px;
  cursor: pointer;
  position: relative;

  img {
    width: 415px;
    height: 380px;
    border-radius: 8px;
    background: #d9d9d9;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    object-fit: cover;
  }

  img:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .info {
    padding-bottom: 10px;
    border-bottom: 0.2px solid #202020;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;

    p,
    span {
      color: #636363;
      font-family: "ClashDisplay-Variable";
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      align-self: center;
    }
  }

  &.imageClicked {
    img {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
      cursor: zoom-out;
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 90vh;
      transition: none;
    }
    img:hover {
      opacity: 1;
      cursor: pointer;
    }

    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 9998;
    }

    &::after {
      content: "X";
      position: fixed;
      top: 20px;
      right: 20px;
      font-size: 44px;
      font-family: "ClashDisplay-Variable";
      color: #fff;
      cursor: pointer;
      z-index: 9999;
    }
  }
}
