.row {
  display: flex;
  width: 1434px;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 36px 33px;
  flex-wrap: wrap;
  align-self: center;

  .img1 {
    width: 446px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
  }

  .img2 {
    width: 833px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
  }

  .img3 {
    width: 833px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
  }

  .img4 {
    width: 446px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 20px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    width: 600px;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    justify-self: flex-start;
    align-self: flex-start;
    gap: 36px 33px;
    flex-wrap: wrap;

    .img1 {
      width: 90vw;
      height: 300px;
      flex-shrink: 0;
      border-radius: 20px;
      object-fit: cover;
    }

    .img2 {
      width: 90vw;
      height: 300px;
      flex-shrink: 0;
      border-radius: 20px;
      object-fit: cover;
    }

    .img3 {
      width: 90vw;
      height: 300px;
      flex-shrink: 0;
      border-radius: 20px;
      object-fit: cover;
    }

    .img4 {
      width: 90vw;
      height: 300px;
      flex-shrink: 0;
      border-radius: 20px;
      object-fit: cover;
    }
  }
}
